/* Product Homepage */
.product-card {
    @apply mx-8 my-4 bg-center bg-no-repeat transition-all duration-300 bg-[length:auto_110%] hover:bg-[length:auto_100%];
}
.product-card:hover .card-info h5 {
    @apply text-[2.5rem];
}
.product-card:hover .card-info p {
    @apply text-[1.75rem];
}
.product-card.bg-43-portrait {
    @apply sm:bg-[length:110%_auto] sm:hover:bg-[length:100%_auto];
}
.product-card.bg-43-landscape {
    @apply md:bg-[length:110%_auto] md:hover:bg-[length:100%_auto];
}
.product-card.bg-169-landscape {
    @apply lg:bg-[length:110%_auto] lg:hover:bg-[length:100%_auto];
}
.product-card > div {
    @apply block relative min-h-[60vh] bg-black bg-opacity-50;
}
/*
.product-banner .banner-info {
    @apply flex flex-col items-center absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%] text-white transition-all
        md:items-start md:left-[10%] md:top-3/4 md:translate-x-0;
}
.product-banner .banner-info h5 {
    @apply mb-4 text-4xl text-center font-bold transition-all
        md:text-left;
}
.product-banner .banner-info p {
    @apply mb-8 text-2xl transition-all;
}
.product-banner .banner-info a {
    @apply inline-block px-8 py-4 text-xl bg-white rounded-full text-black font-bold hover:brightness-90
        lg:text-2xl;
} */
.product-list-all {
    @apply p-4;
}
.product-list-all .row {
    @apply flex flex-wrap justify-center md:mb-6;
}
.product-list-all .subrow {
    @apply flex flex-wrap justify-center;
}
.product-list-all .products > div:first-of-type .column {
    @apply w-full md:w-1/3;
}
.product-list-all .products > div:last-of-type > .column {
    @apply w-full;
}
.product-list-all .products > div:last-of-type .subrow .column {
    @apply w-full md:w-1/3;
}
.product-list-all > h5 {
    @apply p-6 text-center text-3xl font-bold tracking-tight uppercase;
}
.product-list-all .row h5 {
    @apply mt-4 mb-2 text-xl font-semibold tracking-tight uppercase;
}
.product-list-all .row h6 {
    @apply mt-4 mb-2 text-lg font-medium tracking-tight uppercase;
}
.product-list-all li {
    @apply text-lg;
}

/* Product Header Navigation */
.product-nav .nav-item {
    @apply relative p-4 w-full
        sm:w-1/2 lg:w-1/3 xl:w-1/4;
}
.product-nav .nav-link {
    @apply block w-full rounded-lg border border-gray-200 shadow-md;
}
.product-nav .nav-info {
    @apply p-6 w-full h-full bg-black bg-opacity-0 hover:bg-opacity-50 rounded-lg transition-all duration-500;
}
.product-nav .nav-info h5 {
    @apply mb-2 text-2xl font-bold tracking-tight text-gray-900;
}
.product-nav .nav-info p {
    @apply hidden font-normal text-gray-700 md:block;

/* About Us */
.about-primary-title{
    @apply flex justify-center content-center p-10 text-7xl font-bold text-center;
}

.about-secondary-title{
    @apply text-5xl font-bold text-center p-10;
}

.about-content{
    @apply text-2xl font-normal text-center;
}

.about-primary-card{
    @apply w-[18%] bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 m-3;
}

.about-secondary-card{
    @apply block m-5 my-3 p-6 w-96 bg-white rounded-lg border border-gray-200 shadow-md;
}

.about-card-title{
    @apply mb-2 text-3xl font-bold tracking-tight text-gray-900;
}

.about-card-content{
    @apply font-normal text-gray-700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-green: #156E5C;
    --primary-gray: #F8F9FB;
    --agriculture-primary: ;
    --agriculture-accent: ;
}